<%- include('partials/header');  -%>
<h3> <span style="text-align: left !important;"><a href="/">< Back</a></span></h3>
<h1 style="text-align: center;"> <%= postTitle %></h1>
<p>
    <%= postContent %>
</p>
    
<%- include('partials/footer');  -%>